<!--pages/Customer_Files_list_no/Customer_Files_list_no.wxml-->
<view class='title'>
  <image src='/images/person.png'></image>
  <view class='info'>
    <text>客户总数 </text><text class='num'>0</text><text> 请提交需要贷款的客户资料</text>
  </view>
</view>
<view class='content'>
 <image src='/images/1.jpg'></image>
</view>
<view class='footer'>
 <button>添加客户资料</button>
</view>
