<!--pages/Savegoods_loan_contract/Savegoods_loan_contract.wxml-->
<view class='person_item'>
  <image src='/images/head.png'></image>
  <view class='info'>
    <view class='info_title'>
      <text class='h'>贷款人</text>
      <text class='p'>潘福生</text>
    </view>
    <view class='info_content'>
      <text class='h'>贷款产品 </text>
      <view class='p'>
        <image src='/images/money_p.png'></image>
        <!-- 此处加上 success 下面的字会变绿 -->
        <text class=''>存货贷</text>
        <text class='error'>违约处理</text>
      </view>
    </view>
  </view>
</view>

<view class='ware_item'>
  <view class='left'>
    <image src='/images/cang.png'></image>
    <view class='column'>
      <text class='h'>监管仓</text>
      <text class='p'>西安市大荣物流商贸有限公司</text>
    </view>
    <view class='column'>
      <view class='success'>
        <image src='/images/success.png'></image>
        <text class='h'>已检入仓</text>
      </view>
      <text class='em'>2018-4-19</text>
    </view>
  </view>
  <view class='right'>
    <image src='/images/path.png'></image>
  </view>
</view>

<view class='content'>
  <view class='product_c'>
    <view class='out_up'>
      <image src='/images/out_3.png'></image>
      <text>监管中存货 <text class='em' ></text> </text>
      <view class='time'>
        <text class='h'>最近货值变化</text>
        <text class='p'>2018-05-15</text>
      </view>
    </view>
    <view class='product_info'>
      <view class='product_item'>
        <text class='name'>动仓货值</text>
        <text class='p'>100000.00 <text class='em'>元</text></text>
      </view>
      <view class='product_item'>
        <text class='name'>货品数量</text>
        <text class='h'>2400000 <text class='em'>箱</text></text>
      </view>
    </view>
  </view>
  <view class='pro_item'>
    <image src='/images/lock.png'></image>
    <text class='h'>可动仓出货</text>
    <text class='p_error'>已锁仓禁止出货</text>
    <text class='p'>动仓 <text class='em'>2</text> 次出货</text>
    <image class='path' src='/images/path.png'></image>
  </view>
  <view class='pro_item'>
    <image src='/images/out_1.png'></image>
    <text class='h'>可动仓出货</text>
    <text class='p_success'>每天总货值 <text class='em'>10%</text> 出仓</text>
    <text class='p'>动仓 <text class='em'>2</text> 次出货</text>
    <image class='path' src='/images/path.png'></image>
  </view>
</view>
<!-- footer第一种情况 -->
<view class='footer'>
  <view class='product_c'>
    <view class='out_up'>
      <image src='/images/time.png'></image>
      <!-- 加上class error 下面的字变红 -->
      <text class=''>实际放款时间 <text class='em' >2018年4月28号</text> </text>

    </view>
    <view class='product_info'>
      <view class='product_item'>
        <text class='name'>动仓货值</text>
        <text class='p'>100000.00 <text class='em'>元</text></text>
      </view>
      <view class='right'>
        <image src='/images/success.png'></image>
        <view class='right_info'>
          <text class='p'>2018-04-19</text>
          <text class='h'>已放款</text>
          <text class='h_black'>60天贷款</text>
        </view>
      </view>
    </view>
  </view>
  <view class='loan_con'>
    <view>
      <view class='loan_title'>
        <view class='left'>
          <image src='/images/money_half_succ.png'></image>
          <text class='p'>贷款利率</text>
          <text class='em'>12%</text>
          <text class='p_black'>年利息</text>
        </view>
        <view class='right'>
          <text class='p_black'>60天 存货贷</text>
          <text class='p'>还本利息</text>
        </view>
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu.png'></image>
        <image class='circle' src='/images/circle_success.png'></image>
        <text>2018年05月25日 付息 10000.00<text class='em'>元</text> </text>
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu.png'></image>
        <image class='circle' src='/images/circle_success.png'></image>
        <text>2018年05月25日 付息 10000.00<text class='em'>元</text> </text>
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu.png'></image>
        <image class='circle' src='/images/circle_success.png'></image>
        <text>2018年05月25日 还本 10000.00<text class='em'>元</text> </text>
      </view>
      <!-- <view class='border'></view> -->
    </view>

  </view>

  <view class='loan_sign'>
    <view class='left'>
      <image src='/images/sign.png'></image>
      <view class='loan_info'>
        <text class='em'>2018-04-15</text>
        <text class='p'>签约放款</text>
        <text class='p_black'>已签署</text>
      </view>
    </view>
    <view class='right'>
      <image src='/images/path.png'></image>
    </view>
  </view>
</view>

<!-- footer第二种情况 -->
<view class='footer'>
  <view class='product_c'>
    <view class='out_up'>
      <image src='/images/time.png'></image>
      <!-- 加上class error 下面的字变红 -->
      <text class='error'>违约时间 <text class='em' >2018年4月28号</text> </text>

    </view>
    <view class='product_info'>
      <view class='product_item'>
        <text class='name'>动仓货值</text>
        <text class='p'>100000.00 <text class='em'>元</text></text>
      </view>
      <view class='right'>
        <image src='/images/weiyue.png'></image>
        <view class='right_info'>
          <text class='p'>2018-04-19</text>
          <text class='h'>劣后处置</text>
          <text class='h_black'>处置中...</text>
        </view>
      </view>
    </view>
  </view>
  <view class='loan_con'>
    <view>
      <view class='loan_title'>
        <view class='left'>
          <image src='/images/money_half.png'></image>
          <text class='p'>贷款利率</text>
          <text class='em'>12%</text>
          <text class='p_black'>年利息</text>
        </view>
        <view class='right'>
          <text class='p_black'>60天 存货贷</text>
          <text class='p'>还本利息</text>
        </view>
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu_error.png'></image>
        <image class='circle' src='/images/circle.png'></image>
        <text class='error'><text class='p_info'>处置原因</text> 2018年05月25日 未付息 10000.00
        <text class='em'>元</text> </text>
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu_error.png'></image>
        <image class='circle' src='/images/circle.png'></image>
        <text class='error'><text class='p_info'>处置原因</text> 2018年05月25日 未付息 10000.00
        <text class='em'>元</text> </text>
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu_error.png'></image>
        <image class='circle' src='/images/circle.png'></image>
        <text class='error'><text class='p_info'>处置原因</text> 2018年05月25日 未付息 10000.00
        <text class='em'>元</text> </text>
      </view>
      <view class='border'></view>
    </view>

  </view>

  <view class='loan_sign'>
    <view class='left'>
      <image src='/images/sign.png'></image>
      <view class='loan_info'>
        <text class='em'>2018-04-15</text>
        <text class='p'>签约放款</text>
        <text class='p_black'>已签署</text>
      </view>
    </view>
    <view class='right'>
      <image src='/images/path.png'></image>
    </view>
  </view>
</view>

<!-- footer第三种情况 -->
<view class='footer'>
  <view class='product_c'>
    <view class='out_up'>
      <image src='/images/time.png'></image>
      <!-- 加上class error 下面的字变红 -->
      <text class='error'>违约时间 <text class='em' >2018年4月28号</text> </text>

    </view>
    <view class='product_info'>
      <view class='product_item'>
        <text class='name'>动仓货值</text>
        <text class='p'>100000.00 <text class='em'>元</text></text>
      </view>
      <view class='right'>
        <image src='/images/weiyue.png'></image>
        <view class='right_info'>
          <text class='p'>2018-04-19</text>
          <text class='h'>劣后处置</text>
          <text class='h_black'>处置中...</text>
        </view>
      </view>
    </view>
  </view>
  <view class='loan_con'>
    <view>
      <view class='loan_title'>
        <view class='left'>
          <image src='/images/money_half_succ.png'></image>
          <text class='p'>贷款利率</text>
          <text class='em'>12%</text>
          <text class='p_black'>年利息</text>
        </view>
        <view class='right'>
          <text class='p_black'>60天 存货贷</text>
          <text class='p'>还本利息</text>
        </view>
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu.png'></image>
        <image class='circle' src='/images/circle_success.png'></image>
        <text class=''> 2018年05月25日 付息 10000.00<text class='em'>元</text> </text>
        <view class='right'>
          <image src='/images/success.png'></image>
        </view>
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu_error.png'></image>
        <image class='circle' src='/images/circle.png'></image>
        <text class='error'>2018年05月25日 未付息 10000.00<text class='em'>元</text> </text>
        <view class='right'>
          <text>逾期 -1 天</text>
        </view>
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu_info.png'></image>
        <image class='circle' src='/images/circle_info.png'></image>
        <text class='info'> 2018年05月25日 未付息 10000.00<text class='em'>元</text> </text>
      </view>
      <!-- <view class='border'></view> -->
    </view>

  </view>

  <view class='loan_sign'>
    <view class='left'>
      <image src='/images/sign.png'></image>
      <view class='loan_info'>
        <text class='em'>2018-04-15</text>
        <text class='p'>签约放款</text>
        <text class='p_black'>已签署</text>
      </view>
    </view>
    <view class='right'>
      <image src='/images/path.png'></image>
    </view>
  </view>
</view>

<!-- footer第四种情况 -->
<view class='footer'>
  <view class='product_c'>
    <view class='out_up'>
      <image src='/images/time.png'></image>
      <!-- 加上class error 下面的字变红 -->
      <text class=''>实际放款时间 <text class='em' >2018年4月28号</text> </text>

    </view>
    <view class='product_info'>
      <view class='product_item'>
        <text class='name'>实际放款</text>
        <text class='p'>100000.00 <text class='em'>元</text></text>
      </view>
        <view class='product_item'>
        <text class='name'><text class='strong'>60天</text> 还款利息</text>
        <text class='p_success'>100000.00 <text class='em'>元</text></text>
      </view>
    </view>
  </view>
  <view class='loan_con'>
    <view>
      <view class='loan_title'>
        <view class='left'>
          <image src='/images/money_half_succ.png'></image>
          <text class='p'>贷款利率</text>
          <text class='em'>12%</text>
          <text class='p_black'>年利息</text>
        </view>
        <view class='right'>
          <text class='p_black'>60天 存货贷</text>
          <text class='p'>还本利息</text>
        </view>
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu_info.png'></image>
        <image class='circle' src='/images/circle_info.png'></image>
        <text class='info'> 2018年05月25日 未付息 10000.00<text class='em'>元</text> </text>
       
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu_info.png'></image>
        <image class='circle' src='/images/circle_info.png'></image>
        <text class='info'> 2018年05月25日 未付息 10000.00<text class='em'>元</text> </text>
       
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu_info.png'></image>
        <image class='circle' src='/images/circle_info.png'></image>
        <text class='info'> 2018年05月25日 未付息 10000.00<text class='em'>元</text> </text>
       
      </view>
      <!-- <view class='border'></view> -->
    </view>

  </view>

  <view class='loan_sign'>
    <view class='left'>
      <image src='/images/sign.png'></image>
      <view class='loan_info'>
        <text class='em'>2018-04-15</text>
        <text class='p'>签约放款</text>
        <text class='p_black'>已签署</text>
      </view>
    </view>
    <view class='right'>
      <image src='/images/path.png'></image>
    </view>
  </view>
</view>


<!-- footer第五种情况 -->
<view class='footer'>
  <view class='product_c'>
    <view class='out_up'>
      <image src='/images/time.png'></image>
      <!-- 加上class error 下面的字变红 -->
      <text class=''>实际放款时间 <text class='em' >2018年4月28号</text> </text>

    </view>
    <view class='product_info'>
      <view class='product_item'>
        <text class='name'>实际放款</text>
        <text class='p'>100000.00 <text class='em'>元</text></text>
      </view>
        <view class='product_item'>
        <text class='name'><text class='strong'>60天</text> 还款利息</text>
        <text class='p_success'>100000.00 <text class='em'>元</text></text>
      </view>
    </view>
  </view>
  <view class='loan_con'>
    <view>
      <view class='loan_title'>
        <view class='left'>
          <image src='/images/money_half_succ.png'></image>
          <text class='p'>贷款利率</text>
          <text class='em'>12%</text>
          <text class='p_black'>年利息</text>
        </view>
        <view class='right'>
          <text class='p_black'>60天 存货贷</text>
          <text class='p'>还本利息</text>
        </view>
      </view>
      <view class='border'></view>
    </view>
   <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu.png'></image>
        <image class='circle' src='/images/circle_success.png'></image>
        <text class=''> 2018年05月25日 付息 10000.00<text class='em'>元</text> </text>
        <view class='right'>
          <image src='/images/success.png'></image>
        </view>
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu_error.png'></image>
        <image class='circle' src='/images/circle.png'></image>
        <text class='error'>2018年05月25日 未付息 10000.00<text class='em'>元</text> </text>
        <view class='right'>
          <text>逾期 -1 天</text>
        </view>
      </view>
      <view class='border'></view>
    </view>
    <view>
      <view class='loan_item'>
        <image class='shu' src='/images/shu_info.png'></image>
        <image class='circle' src='/images/circle_info.png'></image>
        <text class='info'> 2018年05月25日 未付息 10000.00<text class='em'>元</text> </text>
       
      </view>
      <!-- <view class='border'></view> -->
    </view>

  </view>

  <view class='loan_sign'>
    <view class='left'>
      <image src='/images/sign.png'></image>
      <view class='loan_info'>
        <text class='em'>2018-04-15</text>
        <text class='p'>签约放款</text>
        <text class='p_black'>已签署</text>
      </view>
    </view>
    <view class='right'>
      <image src='/images/path.png'></image>
    </view>
  </view>
</view>