/* pages/Savegoods_loan_contract/Savegoods_loan_contract.wxss */

page {
  background-color: #f2f2f2;
}

.person_item {
  display: flex;
  align-items: center;
  padding: 30rpx;
  background-color: #fff;
  margin-bottom: 20rpx;
}

.person_item .info {
  display: flex;
  flex-direction: column;
  margin-left: 24rpx;
}

.person_item  .info_title text {
  font-size: 30rpx;
}

.person_item  .info_title text.h {
  color: #c5c5c5;
  margin-right: 16rpx;
}

.person_item .info_content {
  display: flex;
}

.person_item .info_content .info_title text.p {
  color: rgb(121, 121, 123);
}

.person_item .info_content text {
  font-size: 24rpx;
}

.person_item .info_content text.h {
  color: #c5c5c5;
  margin-right: 16rpx;
}

.person_item .info_content  .p {
  display: flex;
  align-items: center;
}

.person_item .info_content  .p text {
  color: rgb(121, 121, 123);
}

.person_item .info_content  .p text.success {
  color: rgb(114, 195, 128);
}

.person_item .info_content  .p text.error {
  color: #ea0b1a;
  border: 1rpx solid #ea0b1a;
  font-weight: bold;
  padding: 0 5rpx;
  margin-left: 16rpx;
}

.person_item image {
  width: 116rpx;
  height: 116rpx;
}

.person_item .info_content .p image {
  width: 25rpx;
  height: 25rpx;
  margin-right: 5rpx;
}

/*  */
.ware_item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 30rpx;
}
.ware_item .left{
  display: flex;
  align-items: center;
}
.ware_item .left image {
  width: 60rpx;
  height: 56rpx;
  margin-right: 16rpx;
}
.ware_item .left .column{
  display: flex;
  flex-direction: column;
  margin-right: 69rpx;
}
.ware_item .left .column .success{
  display: flex;
  align-items: center;
}
.ware_item .left .column .success image{
  width: 28rpx;
  height: 28rpx;
  margin-right: 3rpx;
}
.ware_item .left .column .h{
  font-size: 24rpx;
  color: #c0c0c0
}
.ware_item .left .column .p{
  font-size: 24rpx;
  color: #000;
}
.ware_item .left .column .em{
  font-size: 18rpx;
  color: #c0c0c0;
  margin-left: 30rpx;
}
.ware_item .right image{
  width: 16rpx;
  height: 25rpx;
}

/*  */
.product_c{
  background-color: white;
  border: 1px solid #eee;
  padding-bottom: 30rpx;
}
.product_c .product_info{
  display: flex;
  
}
.product_c .out_up{
  padding: 30rpx;
  display: flex;
  align-items: center;
}
.product_c .out_up text{
 font-size: 24rpx;
 color: #c0c0c0;
}
.product_c .out_up text.error{
  color: #df6164
}
.product_c .out_up text.em{
  color: #000;
}
.product_c .out_up .time{
  display: flex;
  align-items: center;
  margin-left:200rpx; 
}
.product_c .out_up .h{
  font-size: 24rpx;
  color: #c0c0c0;
}
.product_c .out_up .p{
  font-size: 18rpx;
  color: #c0c0c0;
}
.product_c .out_up image{
  width: 25rpx;
  height: 25rpx;
  margin-right: 10rpx;
}
.product_c .product_info .product_item{
  display: flex;
  flex-direction: column;
  padding: 50rpx 0;
  flex: 1;
  align-items: center;
  border-right: 1px solid #eee;
}
.product_c .product_info .product_item text{
  font-size: 24rpx;
  color: #7b7b7b;
}
.product_c .product_info .product_item .name{
  margin-bottom: 30rpx;
}
.product_c .product_info .product_item .name .strong{
  color: #000;
}
.product_c .product_info .product_item .p_success{
    font-size: 30rpx;
  color: #a3d7aa;
}
.product_c .product_info .product_item text.p{
  font-size: 30rpx;
  color: rgb(223,97,100);
}
.product_c .product_info .product_item text.h{
  font-size: 30rpx;
  color: #000000;
}
/*  */
.pro_item{
  display: flex;
  align-items: center;
  padding: 30rpx;
  background-color: white;
}
.pro_item image{
  width: 20rpx;
  height: 25rpx;
  margin-right: 10rpx;
}
.pro_item image.path{
  width: 16rpx;
  height: 26rpx;
  margin-left: 77rpx;
}
.pro_item text{
  font-size:24rpx; 
}
.pro_item .h{
  color: #c0c0c0;
  margin-right: 10rpx
}
.pro_item .p_error{
  color: rgb(223,97,100);
     margin-right: 105rpx;
}
.pro_item .p_success{
  color: #000;
  margin-right: 40rpx;
}
.pro_item .p_success .em{
  color: rgb(223,97,100)
}
.pro_item .p{

  color: #c0c0c0;
}
.pro_item .p .em{
  color: #000;
}

.footer{
  margin-top: 21rpx;
  background-color: white;
}
.product_c .product_info .right{
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;

}
.product_c .product_info  .right image{
  width: 60rpx;
  height: 60rpx;
  margin-right: 18rpx;

}
.product_c .product_info  .right .right_info{
  display: flex;
  flex-direction: column;

} 
.product_c .product_info  .right .right_info .p{
  font-size: 18rpx;
  color: #bfbfbf;
}
.product_c .product_info  .right .right_info .h{
  color: #bfbfbf;
  font-size: 24rpx;
}
.product_c .product_info  .right .right_info .h_black{
  color: #000;
  font-size: 24rpx;
}

.loan_con{}
.loan_title {
  display: flex;
  align-items: center;
  padding: 30rpx;
  padding-left: 42rpx;
  justify-content: space-between;
 line-height: 1;
}

.loan_title image{
  width: 25rpx;
  height: 25rpx;
  margin-right: 8rpx;
}
.loan_title text{
  font-size: 24rpx;
  margin-right: 10rpx;
}
.loan_title .p{
  color: #c0c0c0
}
.loan_title .em{
  color: rgb(223,97,100)
}
.loan_title .p_black{
  color: #000;
}
.border{
    border-bottom: 1px solid #eee;
    width: 674rpx;
    margin-left: 76rpx;
}
/*  */
.loan_item{
  padding: 30rpx;
  padding-left: 47rpx;
  /* border-bottom: 1px solid #eee; */
  position: relative;
  line-height: 1;
  display: flex;
  align-items: center;
}
.loan_item .shu{
  width: 5rpx;
  height: 40rpx;
  position: absolute;
  top: -18rpx;
  left: 52rpx;
}
.loan_item .circle{
  width: 15rpx;
  height: 15rpx;
  margin-right: 14rpx;
}
.loan_item text{
  color: #73c280;
  font-size: 24rpx;
}
.loan_item text.error{
  color: rgb(223,97,100)
}
.loan_item text.error .p_info{
  color: rgb(192,192,192)
}
.loan_item text.em{
  color: #c0c0c0;
}

/*  */
.loan_sign{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30rpx;
  padding-left: 59rpx;
  border-top: 1px solid #eee;
}
.loan_sign .left{
  display: flex;
  align-items: center;
}
.loan_sign .right image{
  width: 16rpx;
  height: 26rpx;
}
.loan_sign image{
  width: 58rpx;
  height: 60rpx;
  margin-right: 16rpx;
}
.loan_sign .loan_info{
  display: flex;
  flex-direction: column;
}
.loan_sign .loan_info .em{
  font-size: 18rpx;
  color: #bfbfbf
}
.loan_sign .loan_info .p{
  font-size: 24rpx;
  color: #bfbfbf
}
.loan_sign .loan_info .p_black{
  font-size: 24rpx;
  color: #000;
}

/*  */

.loan_item .right image{
  width: 46rpx;
  height: 46rpx;
  margin-left: 148rpx;
}
.loan_item .right text{
  font-size: 30rpx;
  color: #df6164;
  margin-left: 45rpx;
}
.loan_item text.info{
  color: #a4a4a4
}