/* pages/Customer_Files_list/Customer_Files_list.wxss */
.title{
  padding: 30rpx;
  padding-top: 0rpx;
}
.title image{
  width: 25rpx;
  height: 23rpx;
  display: inline-block;
  margin-right: 22rpx;
}
.title .info{
  display: inline-block;
  font-size: 24rpx;
  color: #bfbfbf;

}
.title .info .num{
  color: black;
}

/*  */
.content{
  padding-bottom: 50rpx;
}
.content .one{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30rpx;
  border: 1px solid #f6f6f6
}
.one .one_left{
  display: flex;
  align-items: center
}
.one .one_right{
  display: flex;
  align-items: center;
}
.one .person_n{
  width: 60rpx;
  height: 60rpx;
  margin-right: 17rpx;
}
.one .one_left .head{
  width: 116rpx;
  height: 116rpx;
  margin-right: 26rpx;
}

.one .money{
  width: 25rpx;
  height: 25rpx;
  margin-right: 5rpx;
}
.one .path{
  width: 16rpx;
  height: 26rpx;
  /* margin-left: 147rpx; */
}
.one  images{
  display: inline-block;
}
.one .other{
  display: flex;
  align-items: center;
  /* margin-left: 60rpx; */
}
.one .vertical{
  display: flex;
  flex-direction: column;
  min-width: 215rpx;
} 
.one .vertical text{
  font-size: 24rpx;
  margin-top: 5rpx;
}
.one .vertical text.name{
  font-size: 30rpx;
  color: #79797b;
}
.one .vertical text.phone{
    color: #79797b;
}
.one .vertical .loan{
  display: flex;
  align-items: center;

}

.one .vertical .loan .money_p{
  display: none
}
.one .vertical .loan .money_n{
  display: inline-block;
}
.one .vertical .loan.active .money_n{
  display: none
}
.one .vertical .loan.active .money_p{
  display: inline-block;
}
.one .vertical .loan.active text{
  color: #79797b
}
.one .vertical .loan.active text.num{
  color: black;
}
.one .vertical .loan text{
    color: #bfbfbf;
}
.one .vertical text.one_action{
    color: #505050;
}
.one .vertical text.one_action .num{
  color: #ffbf73
}
.one .vertical text.one_title{
    color: #d0d0d0;
}
.one .vertical text.one_time{
    color: #bfbfbf;
    font-size: 18rpx;
}
.one .vertical .loan text{
  margin-top: 0;
}

.error image{
  width: 750rpx;
  height: 565rpx;
}