<!--pages/Savegoods_loan_success_shipment_details/Savegoods_loan_success_shipment_details.wxml-->

<view class='product_c'>
  <view class='product'>
    <image src='/images/out_7.jpg'></image>
    <view class='info'>
      <text class='h'>古井贡酒年份原浆 16年</text>
      <text class='p'>国产 白酒 古井贡 </text>
      <text class='p'>700ml*6瓶 /箱 40.5度 浓香型 </text>
    </view>
  </view>
</view>

<view class='footer'>
  <button class='disabled'>
    <image src='/images/date.png'></image> 2018年04月01日</button>
</view>

<view class='form'>
  <view class='item'>
    <image src='/images/out_4.png'></image>
    <text>出货数 ：</text>
    <text  class='error_p'>200</text>
  </view>
  <view class='item'>
    <image src='/images/out_5.png'></image>
    <text>录检人 ：</text>
    <text class='p'>曹宇</text>
    <text class='time'>2018-05-11</text><text class='em'>检出</text>
  </view>
  <view class='item'>
    <image src='/images/out_6.png'></image>
    <text>条号码 ：</text>
    <text class='p'>123456789</text>
  </view>




</view>