<!--pages/FinanceP_Details&Add_customer/FinanceP_Details&Add_customer.wxml-->
<!-- tab 切换开始 -->
<view class='tab'>
  <view class="tab_item {{currentTab==1?'active':''}}" data-current="1" bindtap="swichNav">贷款模式</view>
  <view class="tab_item {{currentTab==2?'active':''}}" data-current="2" bindtap="swichNav">客户状态</view>
</view>
<!-- tab切换结束 -->
<!-- 贷款模式开始 -->
<view class='fir_tab' hidden='{{currentTab!=1}}'>
  <view class='title'>
    <image src='/images/money_big.png'></image>
    <text>存货贷-模式介绍</text>
  </view>
  <view>
    <image class='image_2' src='/images/2.jpg'></image>
  </view>
  <view class='info'>
    <view class='info_item'>
      <text class='name'>产品名称 ：</text>
      <text class='text'>存货贷</text>
    </view>
    <view class='info_item'>
      <text class='name'>产品类型 ：</text>
      <text class='text'>存货质押</text>
    </view>
    <view class='info_item'>
      <text class='name'>贷款额度 ：</text>
      <text class='text'>0-100万</text>
    </view>
    <view class='info_item'>
      <text class='name'>产品周期 ：</text>
      <text class='text'>10天、20天、30天、60天、90天</text>
    </view>
    <view class='info_item'>
      <text class='name'>利息 ：</text>
      <text class='text'>12%-18%</text>
    </view>
    <view class='info_item'>
      <text class='name'>还款方式 ：</text>
      <text class='text'>还本付息</text>
    </view>
    <view class='info_item top_50'>
      <text class='name'>借款用途 ：</text>
      <text class='text'>采购进货</text>
    </view>
    <view class='info_item'>
      <text class='name'>还款来源 ：</text>
      <text class='text'>销售还款 <text class='span'>(允许每天出10%存货隔天结款)</text></text>
    </view>
    <view class='info_item top_50'>
      <text class='name block'>使用条件：</text>
      <text class='text left_111'>货物在仓内进行质押（货权质押，客户有销
                 售权），云仓仓储进行委托监管，出入库单
                 由仓管人员进行系统操作，签字及云仓盖章，
                 进行法律确权。
                 (1) 动态可出库，须由云仓统一收款结算，
                      按出仓货值进行本金及款项的结算，结算
                      周期为T+1。
                 (2) 静态不可出库，在贷款周期内锁仓，按结
                      算日进行结算。
        </text>
    </view>
  </view>
  <view class='footer'>
    <button>资料已通过客户申请模式</button>
  </view>
</view>
<!-- 贷款模式结束 -->

<!-- 客户状态开始 -->
<view class='sec_tab' hidden='{{currentTab!=2}}'>
  <!-- 一条开始 -->
  <view class='one' wx:for='{{list}}' wx:key='key'>
    <view class='one_left'>
     <view class='head_c'>
           <image class='head' src='/images/head.png'></image>
           <text wx:if="{{item.status=='weiyue'}}">违约处置</text>
           <text wx:if="{{item.status=='yuqi'}}">逾期锁仓</text>
        </view>

      <view class='vertical'>
        <text class='name'>潘福生</text>
        <text class='phone'>18611111111</text>
        <view class='loan active' wx:if="{{!(item.status=='weiyue'||item.status=='yuqi'||item.status=='success')}}" >
          <image   class='money money_p' src='/images/money_p.png'></image>
          <text>存货贷 </text>
        </view>
        <view class='loan active lock' wx:if="{{item.status=='weiyue'||item.status=='yuqi'}}" >
          <image class='' src='/images/lock.png'></image>
          <text class=''>已锁仓 </text>  
        </view>

        <view class='loan active success_loan' wx:if="{{item.status=='success'}}" >
          <image   class='money money_p' src='/images/money_p.png'></image>
          <text class=''>存货贷 已还 </text>  
        </view>
      </view>
      <view class='other' wx:if="{{item.status=='2_info'}}">
        <image class='person_n' src='/images/2_info.png'></image>
        <view class='vertical'>
          <text class='one_time'>2018-05-10</text>
          <text class='one_title'>货品审核</text>
          <text class='one_action'>请录存货信息 <text class='num'></text> </text>
        </view>
      </view>
      <view class='other' wx:if="{{item.status=='2_success'}}">
        <image class='person_n' src='/images/2_success.png'></image>
        <view class='vertical'>
          <text class='one_time'>2018-05-10</text>
          <text class='one_title'>货品审核</text>
          <text class='one_action'>已估值 <text class='num'>选产品</text> </text>
        </view>
      </view>
      <view class='other' wx:if="{{item.status=='2_error'}}">
        <image class='person_n' src='/images/2_error.png'></image>
        <view class='vertical'>
          <text class='one_time'>2018-05-10</text>
          <text class='one_title'>货品审核</text>
          <text class='one_action'>未通过审核 <text class='num'></text> </text>
        </view>
      </view>

      <view class='other' wx:if="{{item.status=='3_info'}}">
        <image class='person_n' src='/images/3_info.png'></image>
        <view class='vertical'>
          <text class='one_time'>2018-05-10</text>
          <text class='one_title'>担保签约</text>
          <text class='one_action'>签署中... <text class='num'></text> </text>
        </view>
      </view>
      <view class='other' wx:if="{{item.status=='3_success'}}">
        <image class='person_n' src='/images/3_success.png'></image>
        <view class='vertical'>
          <text class='one_time'>2018-05-10</text>
          <text class='one_title'>担保签约</text>
          <text class='one_action'>已签署 <text class='num'>签回购</text> </text>
        </view>
      </view>
      <view class='other' wx:if="{{item.status=='3_error'}}">
        <image class='person_n' src='/images/3_error.png'></image>
        <view class='vertical'>
          <text class='one_time'>2018-05-10</text>
          <text class='one_title'>担保签约</text>
          <text class='one_action'>拒绝担保 <text class='num'></text> </text>
        </view>
      </view>

      <view class='other' wx:if="{{item.status=='4_info'}}">
        <image class='person_n' src='/images/4_info.png'></image>
        <view class='vertical'>
          <text class='one_time'>2018-05-10</text>
          <text class='one_title'>签约放款</text>
          <text class='one_action'>签署中... <text class='num'></text> </text>
        </view>
      </view>

      <view class='other' wx:if="{{item.status=='fangkuan'}}">
        <image class='person_n' src='/images/fangkuan.png'></image>
        <view class='vertical'>
          <text class='one_time'>2018-05-10</text>
          <text class='one_title'>劣后处置</text>
          <text class='one_action'>处置中 <text class='num'></text> </text>
        </view>
      </view>
      <view class='other' wx:if="{{item.status=='weiyue'}}"> 
      <image class='person_n' src='/images/weiyue.png'></image>
        <view class='vertical'>
          <text class='one_time'>2018-05-10</text>
          <text class='one_title'>劣后处置</text>
          <text class='one_action'>待处置 <text class='num'></text> </text>
        </view>
      </view>
      <view class='other' wx:if="{{item.status=='yuqi'}}">
        <image class='person_n' src='/images/yuqi.png'></image>
        <view class='vertical'>
          <text class='one_time'>2018-05-10</text>
          <text class='one_title'>签约放款</text>
          <text class='one_action'>签署中... <text class='num'></text> </text>
        </view>
      </view>
       <view class='other' wx:if="{{item.status=='success'}}">
        <image class='person_n' src='/images/success.png'></image>
        <view class='vertical'>
          <text class='one_time'>2018-05-10</text>
          <text class='one_title'>已还款</text>
          <text class='one_action'>60天贷款 <text class='num'></text> </text>
        </view>
      </view>
    </view>
    <view class='one_right'>
      <!-- <image class='path' src='/images/path.png'></image> -->
    </view>
  </view>
  <!-- 一条结束 -->

  <!-- error 开始 -->
  <view class='error'>
    <image src='/images/no_1.jpg'></image>
  </view>
  <!-- error 结束 -->

</view>
<!-- 客户状态结束 -->

